@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,500;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.slide-img{
    height: 540px;
    object-fit: cover;
    filter: blur(2px);
}

.wedding-background{
    background-color: #3F87F5;
    color: #FFFFFF;
    border-radius: 26px;
    height: 480px;
    transform: translateY(-40px);
    position: relative;
    
}

.wedding-background > span{
    position: absolute;
    top: -15px;
    right: 10px;
    
}

.cozy-img{
    height: 355px;
}

.card-text{
    color:#848199;
    
}

.book-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;

}