@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,500;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.slide-img{
    height: 540px;
    object-fit: cover;
    filter: blur(2px);
}

.wedding-background{
    background-color: #3F87F5;
    color: #FFFFFF;
    border-radius: 26px;
    
}

.foot-design{
    background: #0B0D17;
    height: 280px;
    width: auto;
    



}
